__pycache__
.DS_Store
*.npy
results
wandb
checkpoint
logs
runs
data/*.py
data/*/*
!data/**/*.index.json
!data/**/*.inter.json
!data/**/*.item.json
!data/**/*.behavior.json
!data/**/*.behavior_level.json
*.pth
*.ipynb
